.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  flex-direction: column;
}

.square-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.move-detection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  gap: 20vw;
}

.left, .right{
  height: 30px;
  width: 120px;
  background-color: red;
  border-radius: 50px;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  padding-top: 5px;
}

.finished-state{
  font-size: 20px;
  text-align: center;
}

.play{
  background-color: rgb(243, 243, 138);
  border-radius: 5px;
  outline: none;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 45vh;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}

.waiting{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.current-move{
  background-color: green !important;
}