.square {
    width: 80px;
    height: 80px;
    background-color: rgb(243, 243, 138);
    border-radius: 5px;
}

.square:hover {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed !important;
}

.won {
    background-color: lightgreen;
}